
<app-userhome></app-userhome>
<body>
  <br><br><br><br><br><br>
  <div class="card-container">
    <br><br><br>
   <span style="width: 50px;" class="pro">Id: {{id1}}</span>
   <img class="round" src="https://image.shutterstock.com/image-vector/user-icon-human-person-symbol-260nw-1051033475.jpg"width="200" height="150" alt="user" />
   
   <h3 style=" text-align: center;" > Name:&nbsp; &nbsp; {{username}} {{lname}}</h3>
   <h3 style=" text-align: center;"> Emailid:&nbsp; &nbsp;  {{emailid}}</h3>
   <h3 style=" text-align: center;">Password: &nbsp; &nbsp; {{password}}</h3>
   <h3 style=" text-align: center;">Phone number:&nbsp; &nbsp;  {{phone}}</h3>
   <h3 style=" text-align: center;">Aadhar number:&nbsp; &nbsp; {{adhar}}</h3>
   <h3 style=" text-align: center;">Service Type:&nbsp; &nbsp; {{stype}}</h3>
   <br><br>
 
 </div>
 
 </body>

