





<link href="login.component.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<head>
<title></title>
<link rel="stylesheet" href="login.component.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="login.component.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
<br><br><br><br><br><br><br><br><br><br>
<div class="container h-100">
<div class="d-flex justify-content-center h-100">
<div class="user_card">
<div class="d-flex justify-content-center">
<div class="brand_logo_container">
<img src="assets/img/A.jpeg" class="brand_logo" alt="Logo">
</div>
</div>
<div class="d-flex justify-content-center form_container">
<form  [formGroup]="angForm" novalidate   (ngSubmit)="loginUser()">
<div class="input-group mb-3">
<div class="input-group-append">
<span class="input-group-text"><i class="fas fa-user"></i></span>
</div>
<input type="text" name="emailId"   formControlName="name" class="form-control input_user" value="" [(ngModel)]="user.emailId"  placeholder="Email Id">
</div>

<div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['name'].errors.required">
      Email is required.
    </div>
    <div *ngIf="angForm.controls['name'].errors.pattern">
      Enter valid emailId.
    </div>
  </div>


<div class="input-group mb-2">
<div class="input-group-append">
<span class="input-group-text"><i class="fas fa-key"></i></span>
</div>
<input type="password" name="password"   formControlName="pass" class="form-control input_pass" value=""  [(ngModel)]="user.password" placeholder="password">
</div>
<div *ngIf="angForm.controls['pass'].invalid && (angForm.controls['pass'].dirty || angForm.controls['pass'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['pass'].errors.required">
      Password is required.
    </div>
    <div *ngIf="angForm.controls['pass'].errors.minlength">Password must be at least 8 characters</div>

  </div>


 

<div class="d-flex justify-content-center mt-3 login_container">
<button type="submit" (click)="loginUser()"   name="button" class="btn login_btn">Login</button>


</div>
<div class="d-flex justify-content-center mt-3 login_container">
  <a href="forgotpassword">Forgot password</a>
</div>


</form>
</div>

<div class="mt-4">
<div class="d-flex justify-content-center links">
Don't have an account? <a class="ml-2" (click)="gotoregister()">Sign Up</a>
</div>
<div class="d-flex justify-content-center links">
<a href="#" (click)="gotohome()">Go to Home</a>
</div>
</div>
</div>
</div>
</div>
<br><br><br><br><br><br><br>
{{msg}}
</body>











