

/* .sidenav {width:350px; height:300px; overflow:hidden; position:relative; } */
/* .sidenav img{ position:absolute; animation:sidenav 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes sidenav {25%{opacity:1;} 40%{opacity:0;}}
.sidenav img:nth-child(4){animation-delay:0s;}
.sidenav img:nth-child(3){animation-delay:5s;}
.sidenav img:nth-child(2){animation-delay:10s;}
.sidenav img:nth-child(1){animation-delay:15s;}

.sidenav {
    width: 450px;
    height:300px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0px;
    background: #eee;
    overflow: hidden;
    padding: 6px 0;
  } */
  



  /* .sidenav {
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 6px 0;
  }
  

  .sidenav1 {
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 1560px;
    background: #eee;
    overflow-x: hidden;
    padding: 6px 0;
  }
   */

 