.sidenav {
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 6px 0;
  }
  

  .sidenav1 {
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 600px;
    left: 1560px;
    background: #eee;
    overflow-x: hidden;
    padding: 6px 0;
  }
  