

<div class="center">
    <br><br><br><br><br><br><br>
    <div class="signup__container ">
        <div class="container_child signup_thumbnail">
          <div class="thumbnail__content text-center">
            <h1 class="heading--primary"><b> Change password</b></h1>
      
          </div>
 
          <div class="signup__overlay"></div>
          
        </div>
        <div class="container_child signup_form">
        
          <form class="form-inline" #loginForm="ngForm" (ngSubmit)="updateUser()" >
 
           <div class="form-group">
             <br><br>
             <label for="email">User id &nbsp; &nbsp;</label>
             <input   type="email" class="form-control" id="id" name="id" [(ngModel)]="id" placeholder="eg: 101" >
             <br>
           </div>
            <br>
          
  
            <div class="form-group">
              <label for="email">Email id &nbsp; &nbsp;</label>
              <br><br>
              <input class="form-control" type="email" placeholder="VoizFonica@spectre.com" name="email" [(ngModel)]="user.emailId" required />
            </div>
            <br>
          
  
            <div class="form-group">
              <label for="password">Password &nbsp; &nbsp;</label>
              <br> <br>
              <input class="form-control" type="password" placeholder="****" name="password"[(ngModel)]="user.password"required />
            </div>
            <br>
            <br><br>
            <div class="m-t-lg">
              <ul class="list-inline">
                <li>
                  <button style="  height: 50px; width: 400px;" class="btn btn-success" type="submit" value="">Change password</button>
                </li> <br>
               <li>
                <button style="  height: 50px; width: 400px;" class="btn btn-info" (click)="gotohome()">Go back </button>
               </li>
              </ul>
            </div>
          </form>  
        </div>
      </div>
      <h3 style="font-style: italic; font-family: cursive;">{{msg}}</h3>
 





</div>

     
   