<app-userhome></app-userhome>

<form style="text-align: center;">

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset='utf-8'>
    
      
  </head>
  
  
  


<div class="alert warning">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <pre><h4 style="color:white">2 days to go!</h4>
<h5 style="color:white">Your plan is about to expire</h5></pre>
<button type="button" (click)="gotopayment()" class="btn btn-danger">Reacharge Now</button>

 </div>

 <div class="alert info">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <pre><h4 style="color:white">Upgrade your VoizFonica Prepaid to Postpaid</h4>
<h5 style="color:white">Select from our Best Selling Postpaid Plans</h5></pre>
<button type="button" class="btn btn-success">Switch to Postpaid</button>

 </div>


 <div class="alert warning">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <pre><h4 style="color:white">Your recharge is pending!</h4>
<h5 style="color:white">Complete your recharge now</h5></pre>
<button type="button" (click)="gotopayment()" class="btn btn-danger">Reacharge Now</button>

 </div>

 <div class="alert info">
     
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <pre><h4 style="color:white" >Upto rupees 40 off every month </h4>
<h5 style="color:white">revenew your pack via voice phonica UPI.TnCA</h5></pre>
<button type="button" (click)="gotopayment()" class="btn btn-success">Reacharge Now</button>

 </div>
 </html>
</form>